<!DOCTYPE html>
<html>
  <head>
    <title>API Response</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <div class="container">
      <h1>API Response:</h1>
      <pre><%= result %></pre>
      <br/>
      <a href="/">Back</a>
    </div>
  </body>
</html>